

.List-Of-Options{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;

}

h1{
  font-size: 2.5rem;
}

.divider {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;   
}

button{
  font-size: 1.7rem;
  font-weight:bold;
  padding: 5px;
  color: rgb(241, 244, 241); 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;

}
.expand-button{
  background-color: transparent;

}
.expand-icon {
  width: 70px;
  height: 70px; 
  padding-right: 2px;
}

.add-button{
  background-color: #45A624;
}
.add-button:hover{
  background-color: #45A624;
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 5px solid rgb(109, 96, 96);
  border-radius: 5px;
  color: black;
}
ol{
  padding: 0;

}
li{
  font-size:1.5rem;
  padding: 7px;
  background-color: #e35a5a;
  margin-bottom: 20px;
  border: 3px solid #FBD2D2;
  border-radius: 27px;
  display: flex;
  align-items: center;
}
.text{
  color: white;
  flex: 1;
  padding: 10px;
}

